*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
  }

.main{
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 85%;
    margin: 0px .5rem 0px  .5rem;
}


.item_2{
    overflow-y:scroll ;
}