.main{
    height: 100%;
}

.card{
    position: relative;
    margin-bottom: 2rem;
    height: 15rem;
    width: 18rem;
    animation: card_entry .5s 1;
    gap: .5rem;
    border: 1px solid rgb(220, 215, 215);
    border-radius: 10px;
}

@keyframes card_entry {
    from {transform: scale(0);  
    }
    to {transform: scale(1);}
  }


.card_image{
    height: 100%;
}

.card_image img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 10px;

}


.card_description_three_dots{
    position: absolute;
    top: 10px;
    right: 10px;
}

.arrows{
    position: absolute;
    top: 40%;

}

#left_arrow{
    left: -20px;
}

#right_arrow{
    right: -30px;
}

.each_image{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.modal_image{
    display: flex;
    align-items: center;
    flex-direction: column;
}



.each_image img{
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.actual_image{
    animation: image_entry_animation .5s 1;    
}

@keyframes image_entry_animation {
    from {transform: scaleX(0);  
    }
    to {transform: scaleX(1);}
  }

.close_icon{
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 1;
}
